html, body{
}
@font-face {
    font-family: UniversCondensed; /* Гарнитура шрифта */
    src: url(../fonts/ofont.ru_Univers_Condensed.ttf); /* Путь к файлу со шрифтом */
}
.main img{
    margin:0 10px;
}
.main{
    font-size: 12pt;
}
.main h1{
    margin-top: 0;
}
.main h1,
.main h2{
    font-family: UniversCondensed, Geneva, Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.underline-header{
    border-bottom: 3px solid #990000;
}
ul.list-plus{
    position: relative;
    left: 40px;
    font-size: 14pt;
    list-style-image: url(../img/ico/galochka.png);
}
.thumbnail{
    min-height: 350px;
}
.wrap-img{
    height: 176px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.wrap-img img{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}
.short_description{
    min-height: 38px;
}
.thumbnail h3{
    font-size: 14pt;
    font-weight: 600;
    margin-top: 5px;
}
.thumbnail p{
    font-size: 10pt;
}
.thumbnail ul{
    font-size: 9pt;
    color: #3c3c3c;
    padding-left: 15px;
}
.thumbnail .caption{
    padding-bottom: 0;
}
.footer{
    background: #990000;
    color: #ffffff;
    margin-top: 20px;
    padding-top: 20px;
    -webkit-box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.75);
}
address img{
    margin-bottom: 20px;
}
address abbr{
    font-weight: 600;
}
.footer-bottom{
    background: #660000;
    padding: 10px 0;
    margin-top: 10px;
}
.footer-bottom p{
    margin-bottom: 0;
}
.footer ul{
    font-family: UniversCondensed, Geneva, Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12pt;
    padding-left: 0;
}
.footer ul.page {
    font-weight: 600;
}
.footer ul>li>a{
    color: #fff;
}
.wall {
    position: relative;
    top:-20px;
    /* Положение фона */
    background: url("../img/background/plane.png") left bottom;
    width: 100%;
    height: 598px;
}
.column{
    position: relative;
    top:-52px;
    left:-50px;
    background: url("../img/background/column.png") left bottom;
    width: 417px;
    height: 650px;
}
.column .logo{
    float: right;
    margin: 40px 24px 84px 24px;
}
.navbar-nav>li>a{
    font-size: 12pt;
}
.feedback{
    /*position: relative;*/
    /*left: 45px;*/
    font-family: UniversCondensed, Geneva, Arial, Helvetica, sans-serif;
    margin-left: 90px;
}
.feedback p{
    font-size: 16pt;
    margin-top: 15px;
    line-height:0.9;
}
.feedback button,
.feedback input{
    font-family: Geneva, Arial, Helvetica, sans-serif;

}
.feedback p>small{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #990000;
    font-size: 9.5pt;
    font-weight: 600;
}
.feedback h3{
    color: #ffffff;
}
.carousel{
    background-image: url("../img/slider/background.png");
    padding: 15px;
    margin-top: 60px;
}
.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}
.carousel-inner{
    height: 420px;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .carousel{
        margin-top: 100px;
    }
    .carousel-inner{
        height: 295px;
    }
}
.carousel-caption{
    text-align: left;
    font-family: UniversCondensed, Geneva, Arial, Helvetica, sans-serif;
    left: 90px;
    padding-bottom: 10px;
}
.carousel-caption p {
    font-size: 16pt;
}
.carousel-caption h4 {
    font-size: 24pt;
}
@media (max-width: 768px) {
    .footer .logo{
        width: 100%;
    }
    ul.list-plus{
        left: 0;
    }
}
#cart{
    position: fixed !important;
    bottom: -25px !important;
}
.spinner {
    width: 60px;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}
strong{
    color: #990000;
}
.thumb img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0);
    border-radius:5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:5px;
}
.thumb img:hover {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
}
.thumb {
    padding:5px;
}
.caption .btn-link{
    padding-left: 5px;
    padding-right: 0;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    position: relative; /* Относительное позиционирование */
    width: 100%;
    text-align: left;
}
.caption .btn-producer{
    padding-left: 0;
}
.caption .short_description{
    height: 38px;
    overflow: hidden;
}
.caption ul{
    margin-bottom: 0;
}
.caption .row{
    padding-bottom: 10px;
}